[submodule "src/common"]
	path = src/common
	url = git@github.com:maidsafe/MaidSafe-Common
[submodule "src/drive"]
	path = src/drive
	url = git@github.com:maidsafe/MaidSafe-Drive
[submodule "src/encrypt"]
	path = src/encrypt
	url = git@github.com:maidsafe/MaidSafe-Encrypt
[submodule "src/lifestuff"]
	path = src/lifestuff
	url = git@github.com:maidsafe/LifeStuff
[submodule "src/passport"]
	path = src/passport
	url = git@github.com:maidsafe/MaidSafe-Passport
[submodule "src/private"]
	path = src/private
	url = git@github.com:maidsafe/MaidSafe-Private
[submodule "src/routing"]
	path = src/routing
	url = git@github.com:maidsafe/MaidSafe-Routing
[submodule "src/rudp"]
	path = src/rudp
	url = git@github.com:maidsafe/MaidSafe-RUDP
[submodule "src/nfs"]
	path = src/nfs
	url = git@github.com:maidsafe/MaidSafe-Network-Filesystem
[submodule "src/vault"]
	path = src/vault
	url = git@github.com:maidsafe/MaidSafe-Vault
