table
{
margin-left: auto;
margin-right: auto;
}
#gradient-style
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 23px;
  width: 980px;
  text-align: center;
  border-collapse: collapse;
}
#gradient-style th
{
  font-size: 24px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe url('images/gradhead.png') repeat-x;
  border-top: 2px solid #d3ddff;
  border-bottom: 1px solid #fff;
  color: #039;
}
#gradient-style td
{
  padding: 18px;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid #fff;
  background: #e8edff url('images/gradback.png') repeat-x;
}
.title_column
{
  text-align:left;
}
.red
{
  color:red;
}
.green
{
  color:green;
}

#header-container {
  width: 100%;
  height: 104px;
  line-height: 104px;
  text-align:center;
  font-size:36px;
  color:#3B0B17;
  background: #d0dafd url('images/gradhover.png') repeat-x;
  margin-bottom:50px;
}